.content {
  overflow-x: hidden;

  .title__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;

    .title__wrap--main {
      font-family: "bodoni", serif;
      opacity: 0;
      font-size: 8vw;
      animation: render-content 1s forwards;
      animation-delay: 1.5s;
    }

    .title__wrap--sub {
      opacity: 0;
      margin-top: 1.5em;
      font-size: 2.5vw;
      animation: render-content 1s forwards;
      animation-delay: 1.8s;
      white-space: nowrap;
    }
  }

  .guide {
    z-index: 9;
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5rem;

    .guide__mouse {
      .mouse__scroll {
        animation-name: scroll;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
        animation-iteration-count: infinite;
        transform-origin: 50% 20.5px;
        will-change: transform, opacity;
        opacity: 1;
      }
      @keyframes scroll {
        0%,
        20% {
          transform: translateY(0) scaleY(1);
        }

        100% {
          transform: translateY(36px) scaleY(2);
          opacity: 0;
        }
      }
    }
  }

  .scroll-section {
    position: relative;

    img {
      filter: brightness(40%);
    }

    .art-frame {
      opacity: 0.5;
      top: 50%;
      left: 50%;
      height: 50vmin;
      transform: translate3d(-50%, -50%, 0) scale(0.4);
      border: solid 4vmin #eee;
      border-bottom-color: #fff;
      border-left-color: #eee;
      border-right-color: #eee;
      border-top-color: #ddd;

      &:before {
        border-radius: 2px;
        bottom: -1.5vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
        content: "";
        left: -1.5vmin;
        position: absolute;
        right: -1.5vmin;
        top: -1.5vmin;
      }
      &:after {
        border-radius: 2px;
        bottom: -2vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        content: "";
        left: -2vmin;
        position: absolute;
        right: -2vmin;
        top: -2vmin;
      }

      .art-frame__art {
        border: solid 2px;
        border-bottom-color: #ffe;
        border-left-color: #eed;
        border-right-color: #eed;
        border-top-color: #ccb;
        max-height: 100%;
      }
    }

    .art-desc {
      bottom: 7vh;
      font-size: 4rem;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      font-family: "bodoni", serif;

      p {
        animation: render-desc 0.5s forwards;
        text-align: center;

        @keyframes render-desc {
          0% {
            transform: translate3d(0, 30%, 0);
            opacity: 0;
          }
          100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
          }
        }
      }
    }

    .sticky-elem {
      display: block;
      will-change: transform, opacity, z-index; /* 성능향상을 위한 구문 */
      position: fixed;
    }
  }
}

:global {
  .mobile {
    :local {
      .content {
        .scroll-section {
          img {
            filter: unset;
          }
        }
      }
    }
  }
}

@keyframes render-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .content {
    .title__wrap {
      .title__wrap--main {
        font-size: 12vw;
      }
      .title__wrap--sub {
        font-size: 3.5vw;
      }
    }

    .scroll-section {
      .main-message {
        p {
          margin-left: 4vh;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .content {
    .title__wrap {
      .title__wrap--main {
        font-size: 14vw;
      }
      .title__wrap--sub {
        margin-top: 2em;
        font-size: 5vw;
        white-space: unset;
      }
    }

    .guide {
      width: 2rem;
    }

    .scroll-section {
      .main-message {
        font-size: 1.8rem;

        p {
          margin-left: 3vh;
        }
      }

      .art-desc {
        font-size: 3rem;
        bottom: 15vh;
      }
    }
  }
}

@media (max-width: 300px) {
  .content {
    .title {
      font-size: 2rem;
    }
    .scroll-section {
      .main-message {
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: 750px) and (max-height: 750px) {
  .content {
    .title__wrap {
      .title__wrap--main {
        font-size: 4vw;
      }
      .title__wrap--sub {
        font-size: 1.5vw;
      }
    }
    .guide {
      top: 85vh;
    }
  }
}
