.content {
  overflow-x: hidden;

  .scroll-section {
    position: relative;
    padding-top: 50vh;

    img {
      filter: brightness(40%);
    }

    .title {
      position: relative;
      font-size: 4rem;
      text-align: center;
      top: -10vh;
      font-family: "Playfair Display", serif;
      line-height: 1.3em;
      letter-spacing: 0.04em;
    }

    .guide {
      z-index: 9;
      position: absolute;
      top: 90vh;
      left: 50%;
      transform: translateX(-50%);
      width: 2.5rem;

      .guide__mouse {
        .mouse__scroll {
          animation-name: scroll;
          animation-duration: 1.5s;
          animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
          animation-iteration-count: infinite;
          transform-origin: 50% 20.5px;
          will-change: transform, opacity;
          opacity: 1;
        }
        @keyframes scroll {
          0%,
          20% {
            transform: translateY(0) scaleY(1);
          }

          100% {
            transform: translateY(36px) scaleY(2);
            opacity: 0;
          }
        }
      }
    }

    .main-message {
      bottom: 7vh;
      font-size: 2.5rem;
      height: 3em;
      opacity: 0;

      p {
        font-weight: bold;
        text-align: left;
        margin-left: 7vh;
        line-height: 1.2em;
      }
    }

    .main-image {
      opacity: 0;
      top: 50%;
      left: 50%;
      width: 100%;
    }

    .detail-message {
      right: 7vh;
      bottom: calc(7vh + 0.6em);
      font-size: 2.5rem;
      opacity: 0;

      .detail-message__link {
        font-weight: bold;
        text-align: left;
        line-height: 1.2em;
      }
    }

    .sticky-elem {
      display: none;
      position: fixed;
    }
  }
}

#show-section-0 #scroll-section-0 .sticky-elem,
#show-section-1 #scroll-section-1 .sticky-elem,
#show-section-2 #scroll-section-2 .sticky-elem,
#show-section-3 #scroll-section-3 .sticky-elem {
  display: block;
  will-change: transform, opacity, z-index; /* 성능향상을 위한 구문 */
}

@media (max-width: 750px) {
  .content {
    .scroll-section {
      .main-message {
        p {
          margin-left: 4vh;
        }
      }

      .detail-message {
        right: 4vh;
      }
    }
  }
}

@media (max-width: 480px) {
  .content {
    .scroll-section {
      .main-message {
        font-size: 1.8rem;

        p {
          margin-left: 3vh;
        }
      }

      .detail-message {
        font-size: 1.8rem;
        right: 3vh;
      }

      .guide {
        width: 2rem;
      }
    }
  }
}

@media (max-width: 300px) {
  .content {
    .scroll-section {
      .main-message {
        font-size: 1.3rem;
      }

      .title {
        font-size: 3rem;
      }
    }
  }
}
