.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding: 0 1em;
  z-index: 20;
  background: rgba(255, 255, 255, 0.08);
  // transition: backdrop-filter 0.1s;
  backdrop-filter: saturate(180%) blur(15px);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);

  .header__links {
    display: flex;
    align-items: center;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;

    .link {
      font-family: "Playfair Display", serif;

      &:not(:first-child) {
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        width: 1em;
        margin-left: 1em;
        line-height: 2.8em;
      }
    }

    .title {
      font-size: 1.8rem;
      margin-right: auto;
      font-weight: bold;
      letter-spacing: 0.07em;
    }
  }
}

@media (max-width: 480px) {
  .header {
    .header__links {
      .link {
        &:not(:first-child) {
          font-size: 1.2rem;
          margin-left: 1em;
          line-height: 1.2em;
        }
      }

      .title {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 300px) {
  .header {
    .header__links {
      .link {
        &:not(:first-child) {
          font-size: 1rem;
          margin-left: 1em;
          line-height: 1em;
        }
      }

      .title {
        font-size: 1.2rem;
      }
    }
  }
}
