.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding: 0 1em;
  z-index: 20;
  background: rgba(255, 255, 255, 0.08);
  // transition: backdrop-filter 0.1s;
  backdrop-filter: saturate(180%) blur(15px);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);

  .header__links {
    display: flex;
    align-items: center;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;

    .link {
      font-family: "Playfair Display", serif;

      &:not(:first-child) {
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        width: 1em;
        margin-left: 1em;
        line-height: 2.8em;
      }
    }

    .title {
      font-size: 1.8rem;
      margin-right: auto;
      font-weight: bold;
      letter-spacing: 0.07em;

      .title__word {
        display: inline-block;
        transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
        transition: transform 0.5s, color 0.5s;
      }

      &:hover .title__word {
        // color: yellow;
        transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
      }

      & .title__word:nth-child(7),
      &:hover .title__word:nth-child(1) {
        transition-delay: 0s;
      }
      & .title__word:nth-child(6),
      &:hover .title__word:nth-child(2) {
        transition-delay: 0.1s;
      }
      & .title__word:nth-child(5),
      &:hover .title__word:nth-child(3) {
        transition-delay: 0.15s;
      }
      & .title__word:nth-child(4),
      &:hover .title__word:nth-child(4) {
        transition-delay: 0.2s;
      }
      & .title__word:nth-child(3),
      &:hover .title__word:nth-child(5) {
        transition-delay: 0.25s;
      }
      & .title__word:nth-child(2),
      &:hover .title__word:nth-child(6) {
        transition-delay: 0.3s;
      }
      & .title__word:nth-child(1),
      &:hover .title__word:nth-child(7) {
        transition-delay: 0.35s;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    .header__links {
      .link {
        &:not(:first-child) {
          font-size: 1.2rem;
          margin-left: 1em;
          line-height: 1.2em;
        }
      }

      .title {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 300px) {
  .header {
    .header__links {
      .link {
        &:not(:first-child) {
          font-size: 1rem;
          margin-left: 1em;
          line-height: 1em;
        }
      }

      .title {
        font-size: 1.2rem;
      }
    }
  }
}
