@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: white;
  letter-spacing: -0.05em;
  background-color: rgb(12, 12, 12);
}
