@charset 'utf-8';

html,
body {
  cursor: url("../Images/cursor.svg") 6 6, auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: white;
  letter-spacing: -0.05em;
  background-color: rgba(18, 18, 18);
}

a,
a:link {
  cursor: url("../Images/cursor.svg") 6 6, auto;
}
a:hover,
a:focus {
  cursor: url("../Images/cursor.svg") 6 6, auto;
}
a:active {
  cursor: url("../Images/cursor.svg") 6 6, auto;
}
.cursor-hover {
  transition: background-color 0.4s;
  background-color: rgba(255, 255, 255, 0.25);
}
