.change-button {
  position: absolute;
  top: 10vh;
  left: 10vh;
  z-index: 999;
  background-color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 9em;
  height: 3em;
  border: none;
  border-radius: 1em;
  box-shadow: 1px 1px 1px 1px gray;

  &:hover {
    background-color: black;
    color: white;
  }
}
