.change-button {
  position: absolute;
  top: 10vh;
  right: 5vh;
  z-index: 19;
  color: #000000;
  background-color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 9em;
  height: 3em;
  border: none;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: #000000;
    color: white;
  }
}
