.content {
  overflow-x: hidden;

  .scroll-section {
    position: relative;
    padding-top: 50vh;

    img {
      filter: brightness(40%);
    }

    // .sub-title {
    //   position: absolute;
    //   top: 10vh;
    //   left: 5vw;
    //   font-size: 1.8rem;
    //   font-family: "Playfair Display", serif;
    //   font-style: italic;
    // }

    .title {
      position: relative;
      font-size: 4rem;
      text-align: center;
      top: -10vh;
      font-family: "Playfair Display", serif;
      line-height: 1.3em;
    }

    .guide {
      position: absolute;
      top: 96vh;
      left: 50vw;
      transform: translate(-50%, 0%);
      font-size: 1rem;
      color: #808080;
    }

    .main-message {
      top: 83vh;
      font-size: 2.5rem;
      height: 3em;
      opacity: 0;

      p {
        font-weight: bold;
        text-align: left;
        margin-left: 7vh;
        line-height: 1.2em;
      }
    }

    .main-image {
      opacity: 0;
      top: 50%;
      left: 50%;
    }

    .sticky-elem {
      display: none;
      position: fixed;

      width: 100%;
    }
  }
}

#show-section-0 #scroll-section-0 .sticky-elem,
#show-section-1 #scroll-section-1 .sticky-elem {
  display: block;
  will-change: transform, opacity; /* 성능향상을 위한 구문 */
}

@media (max-width: 750px) {
  .content {
    .scroll-section {
      .main-message {
        p {
          margin-left: 4vh;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .content {
    .scroll-section {
      .main-message {
        p {
          margin-left: 3vh;
        }
      }
    }
  }
}
