.footer {
  height: 300px;
  // border-top: 1px solid #fff;
  // background-color: #fff;
  // color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

/* PC화면 반응형 */
@media (max-width: 640px) {
  .footer {
    font-size: 2rem;
  }
}
