.footer {
  height: calc(100vh - 57px);
  // background-color: rgba(40, 40, 40, 0.1);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  z-index: 10;
  margin-top: 100vh;

  .footer__people {
    margin: 1em;
    font-family: "Playfair Display", serif;
    position: relative;

    a {
      transition: color 0.5s;
    }

    a .hidden-message {
      display: inline;
      font-size: 0.5em;
      position: absolute;
      right: 0;
      color: black;
      font-weight: bold;
      bottom: -1.2em;
      opacity: 0;
      transform: translate3d(-1.2em, -1.2em, 0);
      transition: transform 0.5s, opacity 0.5s;
    }

    @media (hover: hover) {
      a:hover {
        color: white;
      }

      a:hover .hidden-message {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .footer__copy-right {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #505050;
    font-size: 1rem;
    white-space: nowrap;
  }
}

/* 반응형 */
@media (max-width: 750px) {
  .footer {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .footer {
    font-size: 1.8rem;
    .footer__copy-right {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 300px) {
  .footer {
    font-size: 1.5rem;

    .footer__copy-right {
      font-size: 0.6rem;
    }
  }
}
