.cursor-circle {
  width: 500px;
  height: 500px;
  position: fixed;
  display: none;
  backdrop-filter: brightness(250%);
  z-index: 1;
  border-radius: 250px;

  circle {
    fill: none;
  }
}

@media (max-width: 750px) {
  .cursor-circle {
    width: 250px;
    height: 250px;
    transform: translate(50%, 50%);
  }
}
